@implements ILayoutComponent

@*<div class='container-fluid'>
    <div class='row'>*@
<div id="page">
    <div class='main-nav'>
            <NavMenu />
        </div>
        <div class='main-content'>
            @Body
        </div>
</div>

    @*</div>
</div>*@

@functions {
    public RenderFragment Body { get; set; }
}
