@*<div class='main-nav'>*@




<ul class='nav'>
    <li>
        <a href="/" Match=NavLinkMatch.All>
            <div class="paragraph">Z</div>
        </a>
    </li>
    <li>
        <a href="/home">
            <div class="paragraph">&#xE14C</div>
        </a>
    </li>
    <li>
        <a href="/gallery">
            <div class="paragraph">&#xE189</div>
        </a>
    </li>
    <li>
        <a href="/search">
            <div class="paragraph">&#xE1A3</div>
        </a>
    </li>
    <li>
        <a href="/fetchdata">
            <div class="paragraph">&#xE115</div>
        </a>
    </li>
</ul>
@*<script>
    document.getElementById("a:focus").style.display = "width: 629px;";
</script>*@

@*</div>*@

@functions {

    

}
    
