@page "/home"

@*<div class="pages">*@

<div class="menu">
    <div class="tag">
        <h1>Популярное</h1>
    </div>
    @*<a href="/home/#">
            <div class="item">
                <h3>За сегодня</h3>
            </div>
        </a>
        <a href="/home/#">
            <div class="item">
                <h3>За неделю</h3>
            </div>
        </a>
        <a href="/home/#">
            <div class="item">
                <h3>За месяц</h3>
            </div>
        </a>
        <a href="/home/#">*@
    <div>
        <input type="radio" class="item" name="name" id="item_1" />
        <label class="item" for="item_1">
            <h3>За сегодня 222</h3>
        </label>
    </div>
    <div>
        <input type="radio" name="name" id="item_2" />
        <label class="item" for="item_2">
            <h3>За неделю</h3>
        </label>
    </div>
    <div>
        <input type="radio" name="name" id="item_3"/>
        <label class="item" for="item_3">
            <h3>За месяц</h3>
        </label>
    </div>
    <div>
        <input type="radio" name="name" id="item_4" />
        <label class="item" for="item_4">
            <h3>За полгода</h3>
        </label>
    </div>
    <div>
        <input type="radio" name="name" id="item_5" />
        <label class="item" for="item_5">
            <h3>За год</h3>
        </label>
    </div>
    

    @*<div class="item">
        <h3>За год</h3>
    </div>
    </a>*@
</div>
<div class="content">
    <div class="tag">
        <h1>Home</h1>
    </div>
    <div class="preview">
        <h1>Предложения новых групп</h1>
    </div>
</div>


@*</div>*@

@*<h1>Gallery</h1>*@
